/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    /* 排版 */
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* -------------- 以下CSS區域為 信用卡結帳用 使用  --------------------------------- */

.GameHex_CheckOut_Credit{
    /* 尺寸 */
	width: 100%;
    height: 80vh;
    /* 外觀 */
    background-image: url(../img/BC_BG_001.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.GameHex_CheckOut_Credit_Area{
    width: 80%;
    height: auto;
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* -------------- 信用卡結帳用  左邊的宣傳文字  --------------------------------- */

.GameHex_CheckOut_Credit_Info{
    /* 尺寸 */
    width: 20%;
    height: auto;
    /* 外觀 */
    border: 1px solid #fff;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(153, 153, 153, 1), rgba(255,255,254,0));
    /* 排版 */
    padding: 40px;
}

.GameHex_CheckOut_Credit_Info_Num{
    /* 尺寸 */
    font-size: 80px;
    /* 字體 */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-bottom: 40px;
}

.GameHex_CheckOut_Credit_Info_Title{
    /* 尺寸 */
    font-size: 40px;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-bottom: 12px;
}

.GameHex_CheckOut_Credit_Info_SubTitle{
    /* 尺寸 */
    font-size: 40px;
    /* 字體 */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    /* 外觀 */
    color: #fff;  
    /* 排版 */
    margin-bottom: 16px;
}

.GameHex_CheckOut_Credit_Info img{
    /* 尺寸 */
    width: auto;
    /* 排版 */
    margin-bottom: 40px;
}

.Text_Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GameHex_CheckOut_Credit_Paragraph_01{
    /* 尺寸 */
    font-size: 16px;   
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 排版 */
    margin-bottom: 20px;
    line-height: 1.2;
    /* 外觀 */
    color: #fff;      
}


/* -------------- 信用卡結帳用  中間的輸入區域  --------------------------------- */

.GameHex_CheckOut_Credit_BOX{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.Box_CheckOut{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}


.GameHex_CheckOut_Credit_Input{
    /* 尺寸 */
    width: 55%;
}

.Credit_Input_PayType{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 尺寸 */
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
}

.Credit_Input_PayType p{}

.c01{
    display: flex;
    align-items: center;
}

.c02{
    display: flex;
    align-items: center;
}

.c03{
    display: flex;
    align-items: center;
}


input[type="checkbox"] {
    /* 移除外觀 */
    appearance: none;
    /* 尺寸 */
    width: 20px;
    height: 20px;
    /* 新的外觀 */
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
}

.Credit_Input_PayType label{
    /* 字體 */
    font-family: "Roboto", sans-serif;
    /* 尺寸 */
    font-size: 16px;
    font-weight: 400;
}

.Credit_Input_Num{
    /* 排版 */
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-between;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
}

.Credit_Input_Num input{
    /* 外觀 */
    border-radius: 8px;
    /* 尺寸 */
    height: 32px;
    width: 15vw;
    padding-left: 20px;
}


.Credit_Input_Num input::placeholder {
    /* 尺寸 */
    padding-left: 8px;
}


.Credit_Input_Num p{}

.Credit_Input_LimitDate{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
}

.Credit_Input_CardDate{
    margin-right: 40px;
}

.LimitDate_M{}

.LimitDate_Y{}

.Credit_Input_LimitDate input {
    /* 尺寸 */
    width: 40px;
    height: 32px;
    /* 外觀 */
    border-radius: 8px;
    /* 排版 */
    padding-left: 20px;
}

.Credit_Input_LimitDate input::placeholder {
    /* 尺寸 */
    padding-left: 8px;
}

.Credit_Input_CardUserName{
    /* 排版 */
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-between;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
}

.Credit_Input_CardUserName p{}

.Credit_Input_CardUserName input{
    /* 外觀 */
    border-radius: 8px;
    /* 尺寸 */
    height: 32px;
    width: 15vw;
    /* 排版 */
    padding-left: 20px;
}

.Credit_Input_CardUserName input::placeholder{
    /* 排版 */
    padding-left: 8px;
}

.Credit_Input_CardSafeNum{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
}

.Credit_Input_CardSafeNum p{}

.Credit_Input_CardSafeNum input{
    /* 尺寸 */
    width: 10vw;
    height: 32px;
    /* 外觀 */
    border-radius: 8px;
    /* 排版 */
    padding-left: 20px;
}

.Credit_Input_CardSafeNum input::placeholder{
    /* 排版 */
    padding-left: 8px;
}

.Credit_Input_EmailAccount{
    /* 排版 */
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-between;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
}

.Credit_Input_EmailAccount p{}

.Credit_Input_EmailAccount input{
    /* 外觀 */
    border-radius: 8px;
    /* 尺寸 */
    height: 32px;
    width: 15vw;
    /* 排版 */
    padding-left: 20px;
}

.Credit_Input_EmailAccount input::placeholder{
    /* 排版 */
    padding-left: 8px;
}

.Credit_Input_Receipt{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
}

.Credit_Input_Receipt p{
     /* 排版 */
    
}

.Credit_Input_Receipt input{
    /* 外觀 */
    border-radius: 8px;
    /* 尺寸 */
    height: 32px;
    width: 15vw;
    /* 排版 */
    padding-left: 20px;
}

.Credit_Input_Receipt input::placeholder{
    /* 排版 */
    padding-left: 8px;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------ 這邊為畫面右方的藍色提示區域 ----------- */

.GameHex_CheckOut_Credit_Tips{
    /* 尺寸 */
    width: 30%;
    height: auto;
    /* 外觀 */
    background-color: rgba(104, 149, 210, 0.7);
    /* 排版 */
    padding: 24px 16px;
}

.GameHex_CheckOut_Credit_Tips p{
    /* 尺寸 */
    font-size: 24px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 排版 */
    margin-bottom: 16px;
}

.GameHex_CheckOut_Credit_Tips span{
    /* 尺寸 */
    font-size: 16px;
    font-weight: 400;
    /* 外觀 */
    color: #fff;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 排版 */
    line-height: 1.6;
}

.GameHex_CheckOut_Credit_Agree{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.GameHex_CheckOut_Credit_Agree label{
    /* 尺寸 */
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    /* 外觀 */
    color: #fff;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
}

.Agree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


/* ------------------------------------------------------------------ */
/* ------------------------------ 這邊為按鈕專區 ---------------------- */

.understandUS_btn{
    /* 尺寸 */
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    background-image: url(../img/BTN_001.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /* 移除預設外觀 */
    border: none;
    background-color: transparent;
    /* 排版 */
    line-height: 60px;
    text-align: center;
}

.GameHex_CheckOut_Credit_Agree_BTN{}

.KeepToPay_BTN{
    /* 尺寸 */
    width: 15vw;
    height: 65px;
    /* 字體 */
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    background-color: #000;
    border-radius: 8px;
    border: 1px solid #fff;
}


/* ----------------- RWD - Start -------------------------- */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
@media (max-width: 1920px) {}

@media (max-width: 1536px) {

    .GameHex_CheckOut_Credit_Area {
        width: 90%;
    }

    .GameHex_CheckOut_Credit_BOX {
        width: 70%;
    }

    .GameHex_CheckOut_Credit_Info {
        padding: 28px;
    }

    .understandUS_btn {
        width: 200px;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
    }

    .GameHex_CheckOut_Credit_Agree {
        margin-bottom: 20px;
    }

    .Credit_Input_Num input{
        padding-left: 8px;
    }

    .Credit_Input_LimitDate input{
        padding-left: 8px;
    }

    .Credit_Input_CardUserName input{
        padding-left: 8px;
    }

    .Credit_Input_CardSafeNum input{
        padding-left: 8px;
    }

    .Credit_Input_EmailAccount input{
        padding-left: 8px;
    }

    .Credit_Input_Receipt input{
        padding-left: 8px;
    }

}

@media (max-width: 1280px) {


    .GameHex_CheckOut_Credit_Info {
        padding: 20px;
    }

    .GameHex_CheckOut_Credit_Info_Num {
        margin-bottom: 20px;
        font-size: 60px;
    }

    .GameHex_CheckOut_Credit_Info_Title {
        font-size: 32px;
    }

    .GameHex_CheckOut_Credit_Info_SubTitle {
        font-size: 32px;
    }

    .GameHex_CheckOut_Credit_Info img {
        margin-bottom: 20px;
    }

    .GameHex_CheckOut_Credit_Paragraph_01 {
        margin-bottom: 12px;
    }

    .Credit_Input_PayType{
        justify-content: space-between;
    }

}



/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */

/* 實際上應該以768px，但是這邊直接把1200px以下當作平板 */
@media (max-width: 1100px) {

    .GameHex_CheckOut_Credit_Area {
        width: 100%;
        justify-content: center;
    }

    .GameHex_CheckOut_Credit_Info {
        display: none;
        width: 80%;
    }

    .GameHex_CheckOut_Credit_BOX {
        width: 90%;
        justify-content: space-around;
    }

    .GameHex_CheckOut_Credit_Tips {
        width: 28%;
        height: auto;
    }

    .Credit_Input_Num {
        font-size: 16px;
    }

    .Credit_Input_PayType p {
        margin-right: 0;
    }

    .Credit_Input_CardSafeNum {
        justify-content: space-between;
    }

    .Credit_Input_CardSafeNum p {
        margin-right: 0;
    }

    .KeepToPay_BTN {
        width: 30vw;
    }

    .GameHex_CheckOut_Credit_Agree label {
        font-size: 16px;
    }

    .GameHex_CheckOut_Credit_Tips p {
        font-size: 20px;
    }
}




/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */

@media (max-width: 800px) {
    .GameHex_CheckOut_Credit_Area {
        flex-direction: column;
    }

    .Box_CheckOut {
        flex-direction: column-reverse;
        font-size: 12px;
    }

    .GameHex_CheckOut_Credit_Tips p {
        font-size: 18px;
    }

    .Agree{
        width: 100%;
    }

    .GameHex_CheckOut_Credit_Tips {
        display: none;
    }

    .GameHex_CheckOut_Credit_Input {
        width: 90%;
    }

    .Credit_Input_Num input {
        width: 50vw;
    }

    .Credit_Input_CardUserName input {
        width: 50vw;
    }

    .Credit_Input_CardSafeNum input {
        width: 30vw; 
    }

    .Credit_Input_EmailAccount input {
        width: 50vw; 
    }

    .Credit_Input_Receipt input {
        width: 50vw; 
    }

    .Credit_Input_PayType {
        font-size: 16px;
    }

    .Credit_Input_CardSafeNum {
        font-size: 16px;
    }

    .Credit_Input_LimitDate {
        font-size: 16px;
    }

    .Credit_Input_CardUserName {
        font-size: 16px;
    }

    .Credit_Input_EmailAccount {
        font-size: 16px;
    }

    .Credit_Input_Receipt {
        font-size: 16px;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .GameHex_CheckOut_Credit_Agree label {
        font-size: 14px;
    }

    .KeepToPay_BTN {
        height: 6vh;
    }
}
