/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    /* 排版 */
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------------------------------------------------------- */
/* 此處開始為 CheackOutPage 之 視覺設定相關檔案 */

.cheakOutMain {
    /* 尺寸 */
    width: 100%;
    height: 90vh;
    background-image: url(../img/BC_BG_001.png);
    /* 排版 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------------------------------------------------------- */
/* 以下 內容為 cheakOutMain01_Top  上層步驟告知 的區域 */

.cheakOutMain01_Top {
    /* 排版 */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 24px;

    /* 外觀 */
    /* border: 1px solid yellow; */
}

/*  他們之間的 白箭頭 短線 */
.cheakOutMain01_Top>img {
    /* 尺寸 */
    width: 104px;
    height: 16px;

    /* 排版 */
    margin-left: 40px;
    margin-right: 40px;
}

/* -------------------------------------------------------------- */
/* 第一個 藍色點點 */

.cheakOutMain_Top_Box01 {
    /* 外觀 */
    /* border: 1px solid red; */

    /* 排版 */
    text-align: center;
}

.cheakOutMain_Top_Box01>p {
    /* 尺寸 */
    font-size: 28px;
    font-weight: bold;

    /* 外觀 */
    color: #fff;

    /* 排版 */
    margin-top: 8px;
    margin-bottom: 8px;
}

.cheakOutMain_Top_Box01>span {
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;

    /* 外觀 */
    color: #fff;

    /* 字體 */
    font-family: "Roboto", sans-serif;
}

/* -------------------------------------------------------------- */
/* 第二個 藍色點點 */

.cheakOutMain_Top_Box02 {
    /* 排版 */
    text-align: center;
}

.cheakOutMain_Top_Box02>p {
    /* 尺寸 */
    font-size: 28px;
    font-weight: bold;

    /* 外觀 */
    color: #fff;

    /* 排版 */
    margin-top: 8px;
    margin-bottom: 8px;
}

.cheakOutMain_Top_Box02>span {
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;

    /* 外觀 */
    color: #fff;

    /* 字體 */
    font-family: "Roboto", sans-serif;
}

/* -------------------------------------------------------------- */
/* 這邊是 內容 下層的區域 */
.cheakOutMain_Bottom {
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* 尺寸 */
    width: 100%;
}

/* ------------------------------------------------------------ */
/* 這邊是 內容 下層 左側的區域 */
.cheakOutMain_Bottom_L {
    /* 尺寸 */
    width: 60%;
}

.cheakOutMain_Bottom_L>h1 {
    /* 尺寸 */
    font-size: 24px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-top: 12px;
    margin-bottom: 8px;
    text-align: center;
}

/* ------------------------------------------------------------ */
/* 這邊是 內容 下層 左側的區域 */
/*  這邊是購物車 最外層 */
.cheakOutMain_Bottom_L_BigBox {
    /* 尺寸 */
    width: 100%;
    /* 外觀 */
    background-color: #414141;
    border-radius: 8px;
    /* 排版 */
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    padding: 20px;
}

/* 這邊是購物車 內層的小卡01 */
.cheakOutMain_Bottom_L_Box01 {
    /* 尺寸 */
    width: 100%;
    /* 外觀 */
    background-color: #1B2838;
    /* 排版 */
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.cheakOutMain_Bottom_L_Box01>img {
    /* 尺寸 */
    width: auto;
}

.gameInfo {
    /* 排版 */
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

.gameInfo>p {
    /* 尺寸 */
    font-size: 28px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 字體 */
    font-family: "Noto Sans TC, sans-serif,Roboto";
}

.gameInfo .playform_Icon {
    /* 排版 */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.gameInfo .playform_Icon img {}

.discount_Tag {
    /* 尺寸 */
    width: 100%;
    height: 4vh;
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    border: 1px solid black;
    background-color: #F8442D;
    color: #fff;
    /* 字體 */
    font-family: "Roboto";
    /* 排版 */
    text-align: center;
    line-height: 4vh;
}

.price_Area {
    /* 排版 */
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    /* 外觀 */
    color: #fff;
    /* 字體 */
    font-family: "Roboto";
}

.price_Area p {
    /* 尺寸 */
    font-size: 28px;
    font-weight: 400;
}

.price_Area span {
    /* 尺寸 */
    font-size: 24px;
    font-weight: 500;
    text-decoration: line-through;
}

.cancelBuy_BTN {
    /* 尺寸 */
    width: 100%;
    height: 6vh;
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    background-color: #F8442D;
    color: #fff;
    border-radius: 16px;
    border: 0px solid black;
}

.cancelBuy_BTN:hover {
    /* 外觀 */
    background-color: #D62A14;
    border-radius: 16px;
    border: 0px solid black;
}


/* 這邊是購物車 內層的小卡02 */
.cheakOutMain_Bottom_L_Box02 {
    /* 尺寸 */
    width: 100%;
    /* 外觀 */
    background-color: #1B2838;
    display: flex;
}

.cheakOutMain_Bottom_L_Box02>img {
    /* 尺寸 */
    width: 200px;
    height: 120px;
    /* 排版 */
    margin-left: 30px;
    margin-top: 16px;
}

/* 這邊是購物車 內層的小卡03 */
.cheakOutMain_Bottom_L_Box03 {
    /* 尺寸 */
    width: 100%;
    /* 外觀 */
    background-color: #1B2838;
    display: flex;
}

.cheakOutMain_Bottom_L_Box03>img {
    /* 尺寸 */
    width: 200px;
    height: 120px;
    /* 排版 */
    margin-left: 30px;
    margin-top: 16px;
}

/* 這邊是購物車 內層的小卡04 */
.cheakOutMain_Bottom_L_Box04 {
    /* 尺寸 */
    width: 800px;
    height: 152px;

    /* 外觀 */
    background-color: #1B2838;

    /* 排版 */
    margin-top: 24px;
    margin-left: 35px;
    display: flex;
}

.cheakOutMain_Bottom_L_Box04>img {
    /* 尺寸 */
    width: 200px;
    height: 120px;
    /* 排版 */
    margin-left: 30px;
    margin-top: 16px;
}


/* 這邊是購物車 內層的小卡05 */
.cheakOutMain_Bottom_L_Box05 {
    /* 尺寸 */
    width: 800px;
    height: 152px;

    /* 外觀 */
    background-color: #1B2838;

    /* 排版 */
    margin-top: 24px;
    margin-left: 35px;
    display: flex;
}

.cheakOutMain_Bottom_L_Box05>img {
    /* 尺寸 */
    width: 200px;
    height: 120px;
    /* 排版 */
    margin-left: 30px;
    margin-top: 16px;
}





/* ------------------------------------------------------------ */
/* 這邊是 內容 下層 右側的區域 */
.cheakOutMain_Bottom_R {
    /* 外觀 */
    border: 1px solid ghostwhite;
    /* 尺寸 */
    width: 30%;
}

.cheakOutMain_Bottom_R_Gauge {
    /* 尺寸 */
    font-size: 20px;
    font-weight: bold;
    /* 字體 */
    font-family: "Roboto";
    /* 排版 */
    text-align: center;
    padding: 8px 0;
    /* 外觀 */
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.cheakOutMain_Bottom_R_Price {
    /* 外觀 */
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #fff;
    /* 排版 */
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 40px;
}

.item01 {
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* 尺寸 */
    font-size: 16px;
    /* 字體 */
    font-family: "Roboto";
}

.item02 {
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* 尺寸 */
    font-size: 16px;
    /* 字體 */
    font-family: "Roboto";
}

.item03 {
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* 尺寸 */
    font-size: 16px;
    /* 字體 */
    font-family: "Roboto";
}

.item04 {
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* 尺寸 */
    font-size: 16px;
    /* 字體 */
    font-family: "Roboto";
}

.itemTitle {
    font-size: 22px;
    font-weight: bold;
}

.itemType {
    font-size: 22px;
    font-weight: bold;
}

.itemPrice{
    font-size: 22px;
    font-weight: bold;
}

.cheakOutMain_Bottom_R_Total {
    /* 外觀  */
    background-color: #FF5252;
}

.priceTotla {
    /* 尺寸 */
    font-size: 28px;
    font-weight: bold;
    /* 字體 */
    font-family: "Roboto";
    /* 排版 */
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.TotalTitle {}



/* ------------------------------------------------------------ */
/* 這邊是 內容 下層 下側的區域 */
.cheakOutMain_Bottom_B {
    /* 尺寸 */
    width: 60%;
    height: 10vh;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}

.clearlBuy_BTN {
    /* 尺寸 */
    /* width: 213px;
    height: 68px; */
    width: 80%;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    /* 外觀 */
    background-image: url(../img/BTN_003.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
    /* 移除預設外觀 */
    border: none;
    background-color: transparent;
    /* 排版 */
    text-align: center;
}

.cheackHopeList_BTN {
    /* 尺寸 */
    width: 80%;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    /* 外觀 */
    background-image: url(../img/BTN_004.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
    /* 移除預設外觀 */
    border: none;
    background-color: transparent;
    /* 排版 */
    text-align: center;
}

.payMoney_BTN {
    /* 尺寸 */
    width: 80%;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    /* 外觀 */
    background-image: url(../img/BTN_001.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
    /* 移除預設外觀 */
    border: none;
    background-color: transparent;
    /* 排版 */
    text-align: center;
}


/* --------------------------------------------------------------------- */
/* 以下 是  折價券與購買其他好物品專區 的區域*/

.cheakOutMain_Discount {
    /* 尺寸 */
    width: 100%;
    height: 100vh;
    background-image: url(../img/BC_BG_001.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cheakOutMain_Discount_Top {

}

.cheakOutMain_Discount_Top>p {
    /* 外觀 */
    color: #fff;
    /* 尺寸 */
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*  ---------------------- 這是收容折價券  大型容器 的容器------------------------ */

.discountBigBox {
    width: 80%;
    background-color: #414141;
    /* 排版 */
    padding: 20px 26px;
    margin: 0 auto;
}

/*  ---------------------- 這是收容折價券  內層 的容器------------------------ */

.discountBox {
    /* 排版 */
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.discountBox ul li>img {
    /* 尺寸 */
    width: 150px;
    height: 150px;
}

.discountBox ul {
    /* 排版 */
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

.discountBox ul li {
    /* 排版 */
    display: flex;
    position: relative;
}

.discountBox ul li:last-child {
    margin-right: 0px;
}


.UseThisCoupon_BTN {
    /* 尺寸 */
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    /* 外觀 */
    background-color: #F8442D;
    border-radius: 8px;
    /* 移除預設外觀 */
    border: none;
    /* 排版 */
    position: absolute;
    top: 99px;
    left: 25px;
    /* 字體 */
    font-family: "Noto Sans TC, sans-serif,Roboto";
}

/* ------------------------------------------------------------------------- */
/*  這邊是左邊 按鈕 */

.LeftArrow_BTN {
    /* 移除預設外觀 */
    border: none;
    background-color: transparent;
    /* 尺寸 */
    width: 30px;
    height: 30px;
}

/* ------------------------------------------------------------------------- */
/*  這邊是右邊 按鈕 */

.RightArrow_BTN {
    /* 移除預設外觀 */
    border: none;
    background-color: transparent;
    /* 尺寸 */
    width: 30px;
    height: 30px;
}


/* ----------------------------------------------------- */
/* ---- 以下 是 推薦購買 專區 */

.cheakOutMain_Discount_Bottom {
    margin-top: 40px;
    margin-bottom: 32px;
}

.cheakOutMain_Discount_Bottom p {
    /* 外觀 */
    color: #fff;
    /* 尺寸 */
    font-size: 36px;
    font-weight: bold;
}


/* ----------------------------------------------------- */
/* ------------------ 以下是推薦購買遊戲區 ------------------- */
.cheakOutMain_Discount_Bottom_GameList {
    /* 尺寸 */
    width: 100%;
    height: 30vh;
    /* 排版 */
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.recomeGame_Card {
    /* 尺寸 */
    width: 80%;
}

.recomeGame_Card03 {
    /* 尺寸 */
    width: 80%;
}


.recomeGame_CardFin{
    /* 尺寸 */
    width: 300px;
    height: 300px;
}

.recomeGame_img {
    /* 排版 */
    position: relative;
}


.recomeGame_img>img {
    /* 尺寸 */
    width: 100%;
    height: 20vh;
    object-fit: cover;
    /* 外觀 */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.discountPrice {
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 20px;
    left: 40px;
    /* 尺寸 */
    width: 40%;
    height: 39px;
    /* 外觀 */
    background-color: #292929;
    border-radius: 4px;
    border: 1px solid #fff;
}

.HopeList_BTN {
    /* 排版 */
    position: absolute;
    top: 20px;
    right: 40px;
    /* 移除外觀 */
    border: none;
    background-color: transparent;
}

.discountPrice span {
    /* 尺寸 */
    font-size: 12px;
    /* 外觀 */
    color: #000;
    border-radius: 16px;
    /* 字體 */
    font-family: "Roboto";
    /* 排版 */
    display: block;
    background-color: #fff;
    padding: 4px 12px;
}

.discountPrice p {
    /* 尺寸 */
    font-size: 14px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
    /* 字體 */
    font-family: "Roboto";
}

/* --------------------------------- */
/* 小卡文字資訊區域 */
.recomeGame_info {
    /* 尺寸 */
    width: 100%;
    height: 12vh;
    /* 外觀 */
    background-color: #1B2838;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.recomeGame_info_title {
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.recomeGame_info_title p {
    /* 尺寸 */
    font-size: 24px;
    font-weight: bold;
    /* 字體 */
    font-family: "Noto Sans TC, sans-serif,Roboto";
    /* 外觀 */
    color: #fff;
}

.recomeGame_info_title ul {
    /* 排版 */
    display: flex;
    align-items: center;
}

/* -----------------------------------  */
/* 遊戲類型tag 以及 加入購物車按鈕 */

.gameTag_Bigbox {
    /* 排版 */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.gameTag_Bigbox ul {
    /* 尺吋 */
    width: 65%;
    /* 排版 */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 8px;
}

.gameTag_Bigbox ul li {
    /* 尺寸 */
    font-size: 16px;
    /* 外觀 */
    color: #fff;
    background-color: #3A5A85;
    border-radius: 8px;
    /* 排版 */
    padding: 4px;
}

.AddToCart_BTN {
    /* 尺寸 */
    width: 30%;
    height: 28px;
    /* 外觀 */
    background-color: #fff;
    border-radius: 8px;
    border: none;
}


/* ----------------- RWD - Start -------------------------- */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
@media (max-width: 1920px) {}

@media (max-width: 1536px) {
    
    .cheakOutMain_Bottom_B{
        width: 80%;
    }
        
    .clearlBuy_BTN {
        width: 65%;
        height: 75px;
        font-size: 24px;
    }

    .cheackHopeList_BTN {
        width: 65%;
        height: 75px;
        font-size: 24px;
    }

    .payMoney_BTN {
        width: 65%;
        height: 75px;
        font-size: 24px;
    }

    .gameTag_Bigbox{
        margin-top: 12px;
    }

    .recomeGame_Card{
        width: 90%;
    }
    
    .recomeGame_Card03{
        width: 90%;
    }

}


@media (max-width: 1280px) {

    .cheakOutMain_Bottom_L_BigBox{
        padding: 8px;
    }

    .cheakOutMain_Bottom_L_Box01{
        padding: 8px;
    }

    .gameInfo>p{
        font-size: 24px;
    }

    .price_Area p{
        font-size: 20px;
    }

    .price_Area span{
        font-size: 16px;
    }

    .priceTotla{
        font-size: 24px;
        padding: 8px 0;
    }

    .cancelBuy_BTN{
        font-size: 16px;
    }

    .clearlBuy_BTN {
        width: 85%;
    }

    .cheackHopeList_BTN {
        width: 85%;
    }

    .payMoney_BTN {
        width: 85%;
    }

    .recomeGame_Card{
        width: 80%;
    }

    .cheakOutMain_Discount_Bottom_GameList{
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }

    .recomeGame_info{
        height: 14vh;
    }

    .recomeGame_Card03 {
        display: none;
    }

    .discountBigBox{
        width: 90%;
    }


}

/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */

/* 實際上應該以768px，但是這邊直接把1100px以下當作平板 */
@media (max-width: 1100px) {

    .cheakOutMain_Bottom_L{
        width: 70%;
    }

    .price_Area p{
        font-size: 16px;
    }

    .cheakOutMain_Bottom_R{
        width: 20%;
    }

    .cheakOutMain_Bottom_R_Price{
        padding: 8px;
    }

    .itemTitle{
        font-size: 14px;
    }

    .itemType{
        font-size: 14px;
    }

    .itemPrice{
        font-size: 14px;
    }

    .priceTotla{
        font-size: 14px;
    }

    .cheakOutMain_Bottom_R_Gauge{
        font-size: 14px;
    }

    .discount_Tag{
        font-size: 16px;
    }

    .clearlBuy_BTN{
        font-size: 20px;
        width: 100%;
    }

    .cheackHopeList_BTN{
        font-size: 20px;
        width: 100%;
    }

    .payMoney_BTN{
        font-size: 20px;
        width: 100%;
    }

    .discountBigBox{
        width: 100%;
    }

    .discountBox{
        width: 100%;
        padding: 4px;
    }

    .LeftArrow_BTN{
        margin-right: 0;
    }

    .RightArrow_BTN{
        margin-left: 0;
    }
}


/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */

@media (max-width: 970px) {
    .cheakOutMain_Bottom{
        flex-direction: column;
    }

    .cheakOutMain_Bottom_R_Price{
        gap: 4px;
    }

    .cheakOutMain_Bottom_R{
        width: 100%;
    }

    .cheakOutMain_Bottom_L{
        width: 100%;
    }

    .cheakOutMain_Bottom_L_BigBox{
        gap: 8px;
    }

    .cheakOutMain_Bottom_L_Box01{
        gap: 4px;
        grid-template-columns: repeat(3,1fr);
    }

    .gameInfo{
        display: none;
    }

    .discountBigBox{
        padding: 4px 4px;
    }

    .discountBox ul{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(1,1fr);
    }

    .RightArrow_BTN{
        display: none;
    }

    .LeftArrow_BTN{
        display: none;
    }

    .discountBox{
        grid-template-columns: repeat(1,1fr);
    }

    .cheakOutMain_Discount_Bottom{
        margin: 0;
    }

    .cheakOutMain_Discount_Bottom p{
        font-size: 16px;
    }

    .cheakOutMain_Discount_Top>p{
        font-size: 16px;
        margin-bottom: 0;
    }

    .cheakOutMain_Discount_Bottom_GameList{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(1,1fr);
        height: 90vh;
    }
    
    .discountBox ul li>img{
        width: 100px;
        height: auto;
    }

    .UseThisCoupon_BTN{
        width: 80px;
        top: 50px;
        left: 10px;
    }

    .cheakOutMain_Discount_Top{
        display: none;
    }

    .recomeGame_Card{
        width: 100%;
    }

    .cheakOutMain_Bottom_B{
        display: none;
    }

    .price_Area span{
        font-size: 14px;
    }

    .cancelBuy_BTN{
        font-size: 14px;
    }

    .discountPrice{
        left: 20px;
    }


}
