/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    /* 排版 */
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* -------------- 以下CSS區域為 GH_MyAccount.html 使用  ------------------- */

.GameHex_MyAccount_HopeList{
    /* 外觀 */
    background-color: #222222;
    /* 尺寸 */
    width: 100%;
    height: 90vh;
    /* 排版 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GameHex_MyAccount_HopeList h1{
    /* 尺寸 */
    width: 80%;
    font-size: 36px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 排版 */
    text-align: center;
    margin-bottom: 40px;
}

.GH_MA_HopeList_BigBox{
    /* 尺寸 */
    width: 80%;
    height: auto;
    /* 外觀 */
    background-color: #0C223F;
    border: 3px solid #fff;
    border-radius: 16px;
    /* 排版 */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GH_MA_HopeList_SearchBox{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: auto;
    padding: 28px;
}

.tool{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.GH_MA_HopeList_SearchTool{
    /* 尺寸 */
    width: 100%;
    height: 40px;
    /* 外觀 */
    background-color: #ACACAC;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 16px;
}

.GH_MA_HopeList_SearchTool::placeholder{
    /* 排版 */
    padding-left: 16px;
}

.SearchTool{}

.GH_MA_HopeList_SortTool{
    /* 尺寸 */
    /* width: 232px; */
    width: 100%;
    height: 46px;
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    border: 1px solid #000;
    border-radius: 16px;
    background-color: #fff;
    /* 排版 */
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.GH_MA_HopeList_SortTool img{
    /* 尺寸 */
    width: 22px;
    height: 22px;
    /* 排版 */
    margin-left: 23px;
}

.GH_MA_HopeList_SortTool p{
    /* 字體 */
    font-family: "Roboto", sans-serif;
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-left: 16px;
}

.GH_MA_HopeList_GameList{
    /* 尺寸 */
    width: 80%;
    height: auto;
    display: grid;
    gap: 24px;
}

.GH_MA_HopeList_GameCard{
    /* 尺寸 */
    width: 100%;
    height: 20vh;
    /* 外觀 */
    background-color: #3A5A85;
    border-radius: 16px;
    /* 排版 */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.GH_MA_HopeList_GameCard_SortModify{
    /* 排版 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    /* 外觀 */
    border-left: 4px solid #fff;
    /* 尺寸 */
    width: 5%;
    height: 15vh;
}

.GH_MA_HopeList_GameCard_SortModify p{
    /* 尺寸 */
    font-size: 40px;
    font-weight: bold;
    /* 字體 */
    font-family: "Roboto", sans-serif;
    /* 外觀 */
    color: #fff;
}

.GH_MA_HopeList_GameCard_img{
    /* 排版 */
    position: relative;
}

.GH_MA_HopeList_GameCard_img img{
    /* 外觀 */
    border-radius: 16px;
}

.GH_MA_HopeList_GameCard_Discount{
    /* 排版 */
    position: absolute;
    top: 148px;
    left: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 外觀 */
    background-color: #292929;
    border-radius: 4px;
    color: #fff;
    /* 尺寸 */
    width: 128px;
    height: 39px;
    /* 字體 */
    font-family: "Roboto", sans-serif;
}

.GH_MA_HopeList_GameCard_Discount p{
    /* 外觀 */
    border-radius: 16px;
    background-color: #fff;
    color: #000;
    /* 排版 */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 8px;
    /* 字體 */
    font-size: 12px;
}

.GH_MA_HopeList_GameCard_Discount span{
    /* 字體 */
    font-size: 14px;
    font-weight: 500;
}


.GH_MA_HopeList_GameCard_Ifo{
    /* 排版 */
    display: flex;
    flex-direction: column;
    width: 20%;
}

.GH_MA_HopeList_GameCard_Ifo_Title{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 24px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-bottom: 8px;
}

.GH_MA_HopeList_GameCard_Ifo_View{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.GH_MA_HopeList_GameCard_Ifo_View p{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    /* 外觀 */
    color: #fff;
}

.GH_MA_HopeList_GameCard_Ifo_View span{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
}

.GH_MA_HopeList_GameCard_Ifo_ReleaseDay{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.GH_MA_HopeList_GameCard_Ifo_ReleaseDay p{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    /* 外觀 */
    color: #fff;
}

.GH_MA_HopeList_GameCard_Ifo_ReleaseDay span{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    /* 外觀 */
    color: #fff;
}


.GH_MA_HopeList_GameCard_Ifo_Tag{
    /* 排版 */

    width: 100%;
}

.GH_MA_HopeList_GameCard_Ifo_Tag ul{
    /* 排版 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
}

.GH_MA_HopeList_GameCard_Ifo_Tag ul li{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-weight: bold;
    /* 外觀 */
    color: #000;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    /* 尺寸 */
    width: 60px;
    /* 排版 */
    padding: 4px;
    text-align: center;
}

.GH_MA_HopeList_GameCard_Ifo_Tag ul li:nth-child(3){
    /* 排版 */
    margin-right: 0px;
}

.GH_MA_HopeList_GameCard_Ifo_Tag ul li:nth-child(6){
    /* 排版 */
    margin-right: 0px;
}

/* ---------------------------------- 以下為 按鈕 專區 */
.BTN_Style_ProductTo_SearchName{
    /* 尺寸 */
    width: 50px;
    height: 44px;
    /* 外觀 */
    background-color: #333333;
    border-radius: 8px;
    box-shadow: none;
    background-image: url(../img/Vector-Right.png);
    background-size: fit;
    background-repeat: no-repeat;
    background-position: center;
}

.BTN_Style_ProductTo_ModUpSort{
    /* 尺寸 */
    width: 50px;
    height: 40px;
    /* 外觀 */
    background-color: transparent;
    box-shadow: none;
    background-image: url(../img/Up.png);
    background-repeat: no-repeat;
    background-position: center;
}

.BTN_Style_ProductTo_ModDownSort{
    /* 尺寸 */
    width: 50px;
    height: 40px;
    /* 外觀 */
    background-color: transparent;
    box-shadow: none;
    background-image: url(../img/Down.png);
    background-repeat: no-repeat;
    background-position: center;
}

.BTN_Style_ProductTo_BuyInSec{
    /* 尺寸 */
    width: 213px;
    height: 67px;
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    background-image: url(../img/BTN_001.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /* 移除預設外觀 */
    border: none;
    background-color: transparent;
    /* 排版 */
    line-height: 67px;
    text-align: center;
}


/* ----------------- RWD - Start -------------------------- */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
@media (max-width: 1920px) {}

@media (max-width: 1536px) {

    .GH_MA_HopeList_GameList {
        width: 100%;
    }

    .GH_MA_HopeList_SearchBox {
        width: 100%;
    }

    .GameHex_MyAccount_HopeList {
        height: 100vh;
    }
    .GH_MA_HopeList_GameCard {}

    .GH_MA_HopeList_GameCard_img img {}

    .GH_MA_HopeList_GameCard_Discount {}

    .GH_MA_HopeList_GameCard_Ifo {
        width: 30%;
    }

    .GH_MA_HopeList_GameCard_Ifo_Tag ul {
        gap: 12px;
    }
}

@media (max-width: 1280px) {

    .GH_MA_HopeList_SearchBox {
        width: 90%;
    }


    .GH_MA_HopeList_GameCard_Ifo_View {
        margin-bottom: 8px;
    }

    .GH_MA_HopeList_GameCard_Ifo_ReleaseDay {
        margin-bottom: 8px;
    }

    .GH_MA_HopeList_GameCard_Ifo_Tag ul {
        gap: 4px;
    }

    .GH_MA_HopeList_GameCard_img img {
        width: 200px;
        height: 150px;
    }

    .GH_MA_HopeList_GameCard_Discount {
        top: 96px;
        left: 40px;
    }

    .GH_MA_HopeList_GameCard_Ifo_Title {
        font-size: 20px;
    }

    .GH_MA_HopeList_GameCard_Ifo_View span {
        font-size: 16px;
    }

    .BTN_Style_ProductTo_BuyInSec {
        width: 180px;
        height: 55px;
        line-height: 48px;
        font-size: 16px;
    }

    .GH_MA_HopeList_SortTool {
        font-size: 18px;
        padding-left: 12px;
    }
}



/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */

/* 實際上應該以768px，但是這邊直接把900px以下當作平板 */
@media (max-width: 900px) {

    .GH_MA_HopeList_BigBox {
        width: 96%;
    }


    .GH_MA_HopeList_GameList {
        width: 100%;
    }

    .GH_MA_HopeList_GameCard {
        width: 100%;
    }

    .GH_MA_HopeList_GameCard_SortModify {
        display: none;
    }
}




/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */

@media (max-width: 700px) {

    .GameHex_MyAccount_HopeList h1 {
        margin-bottom: 12px;
        font-size: 24px;
    }

    .GH_MA_HopeList_GameCard_Ifo {
        display: none;
    }

    .GH_MA_HopeList_GameCard {
        flex-direction: column;
        width: 70%;
        height: 25vh;
    }

    .GH_MA_HopeList_SortTool {
        display: none;
    }

    .tool {
        width: 100%;
    }

    .GH_MA_HopeList_GameList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .BTN_Style_ProductTo_BuyInSec {
        width: 160px;
        height: 50px;
    }
}
