/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------------------- */
/* 此處開始為 LoginPage 之 視覺設定相關檔案 */

.LoginPageMain01 .main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.LoginPageMain01 {
    /* 尺寸 */
    width: 100%;
    height: 100vh;
    /* 排版 */
    display: flex;
    background-image: url(../img/BG_For_Register_Blur_001.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

/* 此處開始為 包裹  LoginPageMain01_Left 左側文字 區域的容器*/

.LoginPageMain01_Left {
    /* 排版 */
    margin-top: 114px;
}

.LoginPageMain01_Left h1 {
    /* 尺寸 */
    font-size: 36px;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    text-align: center;
}

.LoginPageMain01_Left>p {
    /* 尺寸 */
    font-size: 32px;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-top: 12px;
    text-align: center;
}


/* ----------------------------------------------------------------- */
/* 以下為  帳號與密碼  中文字 */


.LoginPageMain01_Left .TipText {
    /* 尺寸 */
    font-size: 20px;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-top: 40px;
}

/* ----------------------------------------------------------------- */
/* 以下為  帳號  欄位 */

.LoginPageMain01_Left_Account {
    /* 尺寸 */
    width: 100%;
    height: 4vh;
    /* 外觀 */
    border-radius: 16px;
    /* 排版 */
    padding-left: 20px;
    margin-top: 12px;
}

.LoginPageMain01_Left_Account::placeholder {
    /* 尺寸 */
    font-size: 16px;
    font-weight: 400;
    /* 外觀 */
    color: #000;
}

/* ----------------------------------------------------------------- */
/* 以下為  密碼  欄位 */

.LoginPageMain01_Left_Password {
    /* 尺寸 */
    width: 100%;
    height: 4vh;
    /* 外觀 */
    border-radius: 16px;
    /* 排版 */
    padding-left: 20px;
    margin-top: 12px;
}

.LoginPageMain01_Left_Password::placeholder {
    /* 尺寸 */
    font-size: 16px;
    font-weight: 400;
    /* 外觀 */
    color: #000;
}

/* 以下為 記住我  核取方塊 */

.checkbox {
    /* 排版 */
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.LoginPageMain01_Left_Rem {
    /* 尺寸 */
    width: 27px;
    height: 27px;
}

.LoginPageMain01_Left label {
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-left: 8px;
    text-align: center;
}

/* -------------------------------------------------------------------- */
/* 以下 是 頁面下方放  文字 的地方  */

.LoginPageMain01_LB_Text {
    /* 排版 */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.LoginPageMain01_LB_Text>p {
    /* 尺寸 */
    font-size: 18px;
    font-weight: 400;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    text-align: center;
    margin-bottom: 22px;
}

.LoginPageMain01_LB_Slogan {
    /* 排版 */
    display: flex;
    align-items: center;
}

.LoginPageMain01_LB_Slogan>img {
    /* 排版 */
    display: block;
    /* 尺寸 */
    width: 40%;
}

.LoginPageMain01_LB_Slogan>p {
    /* 尺寸 */
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}

/* -------------------------------------------------------------------- */
/* 以下 是 頁面下方  放按鈕 的地方  */

.LoginPageMain01_LB_BTN {
    /* 寬度 */
    width: 100%;
    /* 排版 */
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.LoginPageMain01_LB_BTN_L {}

.LoginPageMain01_LB_BTN_L a:hover {
    /* 外觀 */
    background-color: #5D5D5D;
    color: #000;
}

.LoginPageMain01_LB_BTN_L a {
    /* 排版 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* 尺寸 */
    width: 168px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    /* 外觀 */
    background-color: #797979;
    border-radius: 16px;
    text-decoration: none;
    color: #fff;
}

.LoginPageMain01_LB_BTN_L p {
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    text-align: center;
    margin-top: 16px;
}



.LoginPageMain01_LB_BTN_R {}

.LoginPageMain01_LB_BTN_R a:hover {
    /* 外觀 */
    background-color: #E6331C;
    color: #480E07;
}

.LoginPageMain01_LB_BTN_R a {
    /* 排版 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* 尺寸 */
    width: 168px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    /* 外觀 */
    background-color: #F8442D;
    border-radius: 16px;
    text-decoration: none;
    color: #fff;
}

.LoginPageMain01_LB_BTN_R p {
    /* 尺寸 */
    font-size: 18px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    text-align: center;
    margin-top: 16px;
}

/* ----------------------------------------------------------------- */
/* 以下 是  LoginPageMain01_Right 右邊的區域*/

.LoginPageMain01_Right {
    /* 排版 */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 83px;
    margin-top: 219px;
}

.LoginPageMain01_Right p {
    /* 尺寸 */
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
    /* 排版 */
    margin-bottom: 12px;
}

.LoginPageMain01_Right img {
    /* 排版 */
    display: block;
    margin-bottom: 24px;
    /* 尺寸 */
    width: 100%;
    height: auto;
}

.LoginPageMain01_Right a {
    /* 外觀 */
    text-decoration: none;
    color: #fff;
    /* 尺寸 */
    font-size: 20px;
    font-weight: bold;
}






/* ----------------- RWD - Start -------------------------- */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */

@media (max-width: 1920px) {
    .LoginPageMain01_Left {
        margin-top: 80px;
    }

    .LoginPageMain01_Left>p {
        margin-top: 20px;
    }
}

@media (max-width: 1536px) {
    .LoginPageMain01 {
        height: 100vh;
    }

    .LoginPageMain01_Left {
        margin-top: 80px;
    }

    .LoginPageMain01_Right {
        margin-top: 140px;
    }
}

@media (max-width: 1280px) {

    .LoginPageMain01_Left .TipText {
        margin-top: 20px;
    }

    .checkbox {
        margin-top: 20px;
    }

    .LoginPageMain01_LB_Text>p {
        font-size: 18px;
    }

    .LoginPageMain01_LB_BTN {
        margin-top: 20px;
    }

    .LoginPageMain01_Left {
        margin-top: 60px;
    }

    .LoginPageMain01_Right {
        margin-top: 140px;
        margin-left: 63px;
    }
    .LoginPageMain01_LB_Text {
        margin-top: 28px;    
    }

    .LoginPageMain01_LB_Slogan>p {
        font-size: 24px;
    }
}

/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */

/* 實際上應該以768px，但是這邊直接把1100px以下當作平板 */
@media (max-width: 1100px) {
    .LoginPageMain01 {
        height: 120vh;
    }

    .LoginPageMain01_Left h1 {
        font-size: 48px;
    }

    .LoginPageMain01_Left>p {
        font-size: 44px;
    }

    .LoginPageMain01_Right {
        display: none;
    }

    .LoginPageMain01_Left {
        margin-top: 80px;
    }

    .LoginPageMain01_Left .TipText {
        font-size: 32px;
    }

    .LoginPageMain01_Left_Account {
        height: 60px;
        margin-top: 24px;
    }

    .LoginPageMain01_Left_Account::placeholder {
        font-size: 20px;
    }

    .LoginPageMain01_Left_Password {
        height: 60px;
        font-size: 20px;
    }

    .LoginPageMain01_Left_Password::placeholder {
        font-size: 20px;
    }

    .checkbox {
        margin-top: 60px;
    }

    .LoginPageMain01_Left label {
        font-size: 28px;
    }

    .LoginPageMain01_LB_Text>p {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .LoginPageMain01_LB_BTN {
        margin-top: 32px;
    }
}




/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */

@media (max-width: 600px) {
    .LoginPageMain01_Left_Account {}

    .LoginPageMain01_Left_Password {}

    .LoginPageMain01_LB_BTN {
        width:70vw;
        justify-content: space-between;
    }

    .LoginPageMain01_Left h1 {
        font-size: 40px;
    }

    .LoginPageMain01_Left>p {
        font-size: 28px;
    }

    .inputBox01{
        margin-top: 16px;
    }

    .inputBox02{
        margin-top: 16px;
    }

    .LoginPageMain01_Left .TipText {
        font-size: 24px;
    }

    .LoginPageMain01_Left_Account {
        margin-top: 20px;
    }

    .checkbox {
        margin-top: 32px;
    }

    .LoginPageMain01_LB_Slogan>p {
        font-size: 20px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .LoginPageMain01_LB_Slogan>img {
        width: 100px
    }

    .LoginPageMain01_LB_BTN_L {
        margin-right: 40px;
    }
    .LoginPageMain01_LB_BTN_L a {
        width: 132px;
    }

    .LoginPageMain01_LB_BTN_R a {
        width: 132px;
    }

    .LoginPageMain01_Left label {
        font-size: 20px;
    }

    .LoginPageMain01_Left_Account::placeholder {
        font-size: 16px;
    }
    .LoginPageMain01_Left_Password::placeholder {
        font-size: 16px;
    }

    .LoginPageMain01_LB_Text>p {
        font-size: 20px;
    }
}