/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    /* 排版 */
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* -------------- 以下CSS區域為 index.html 使用  ------------------- */

/* index 頁面最上層 第一個 1440*1024尺寸 */
.GameHex_Index_Swiper{
    /* 尺寸 */
    width: 100%;
    height: auto;
    /* 排版 */
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* -------------- 以下CSS區域為 輪播 使用  ------------------- */

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 90vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-button-next, .swiper-button-prev{
    --swiper-theme-color: #fff;
}

.autoplay-progress svg{
    stroke: #eee;
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
.GH_I_Swiper_Footer{
    width: 100%;
    height: auto;
    background-color: #FF5252;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.GH_I_Swiper_Footer p{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 40px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
}

/* index 頁面最上層 第二個 1440*1024尺寸 */
/* index 頁面最上層 第二個 1440*1024尺寸 */
/* index 頁面最上層 第二個 1440*1024尺寸 */
.GameHex_Index_ShopArea{
    /* 尺寸 */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/BC_BG_001m.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.GH_I_ShopArea_SearchBar{
    /* 邊線 */
    border: 1px solid #000;
    /* 尺寸 */
    width: 60%;
    height: 40px;
    /* 排版 */
    display: flex;
    justify-content: space-between;
    /* 外觀 */
    background-color: #3A5A85;
    border-radius: 8px;
}

.GH_I_ShopArea_SearchBar_TagBTN{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.GH_I_ShopArea_SearchBar_TagBTN ul{
    /* 排版 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.GH_I_ShopArea_SearchBar_TagBTN ul a{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    /* 外觀 */
    color: #fff;
    text-decoration: none;
    /* 排版 */
    text-align: center;
}

.GH_I_ShopArea_SearchBar_TagBTN ul a li:hover{
    background-color: #0092FF;
    color: #fff;
    font-weight: bold;
}

.GH_I_ShopArea_SearchBar_TagBTN ul a li{
    /* 尺寸 */
    width: 92px;
    height: 24px;
    /* 排版 */
    line-height: 24px;
    /* 外觀 */
    border: 1px solid #000;
    border-radius: 8px;
}

.GH_I_ShopArea_SearchBar_SeeBTN{
    /* 尺寸 */
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.GH_MA_HopeList_SearchTool{
    /* 尺寸 */
    width: 178px;
    height: 40px;
    /* 外觀 */
    background-color: #ACACAC;
    border: 1px solid black;
    border-radius: 8px;
    /* 排版 */
    position: relative;
}

.GH_MA_HopeList_SearchTool::placeholder{
    /* 排版 */
    padding-left: 8px;
}

.GH_I_ShopArea_DispalyAndTag{
    /* 排版 */
    display: flex;
    justify-content: center;
    /* 尺寸 */
    width: 80%;
    height: auto;
}

.GH_I_ShopArea_GameTag{
    /* 尺寸 */
    width: 10%;
    height: auto;
    /* 外框 */
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #3A5A85;
    /* 排版 */
    margin-right: 8px;
    display: flex;
    flex-direction: column;
}

.GH_I_ShopArea_GameTag_FromYour{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 文字顏色 */
    color: #fff;
    /* 排版 */
    padding: 20px 20px 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.GH_I_ShopArea_GameTag_FromYour p{
    /* 尺寸 */
    font-size: 16px;
    font-weight: bold;
    /* 排版 */
    margin-bottom: 16px;
}

.GH_I_ShopArea_GameTag_FromYour ul{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.GH_I_ShopArea_GameTag_FromYour ul a{
    /* 外觀 */
    color: #fff;
    text-decoration: none;
    /* 文字 */
    font-size: 16px;
}


.GH_I_ShopArea_GameTag_FromYour ul a li{}

.GH_I_ShopArea_GameTag_FromYour ul a:hover{
    background-color: #000;
    font-size: 16px;
    font-weight: bold;
}


/* ------------------------------- 依照類型瀏覽 */
/* ------------------------------- 依照類型瀏覽 */
/* ------------------------------- 依照類型瀏覽 */
.GH_I_ShopArea_GameTag_FromGame{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    /* 文字顏色 */
    color: #fff;
    /* 排版 */
    padding: 20px 20px 0 20px;
    text-align: center;
}

.GH_I_ShopArea_GameTag_FromGame p{
    /* 尺寸 */
    font-size: 16px;
    font-weight: bold;
    /* 排版 */
    margin-bottom: 16px;
}

.GH_I_ShopArea_GameTag_FromGame ul{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.GH_I_ShopArea_GameTag_FromGame ul a{
    /* 外觀 */
    color: #fff;
    text-decoration: none;
    /* 文字 */
    font-size: 16px;
}

.GH_I_ShopArea_GameTag_FromGame ul a li{}

.GH_I_ShopArea_GameTag_FromGame ul a:hover{
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
}


/* ------------------------------- 遊戲卡片放置區 */
/* ------------------------------- 遊戲卡片放置區 */
/* ------------------------------- 遊戲卡片放置區 */

.GH_I_ShopArea_GameArea{
    /* 尺寸 */
    width: 70%;
    height: 85vh;
    /* 外框 */
    border: 1px solid #000;
    border-radius: 16px;
    background-color: #3A5A85;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.GH_I_ShopArea_GameArea_TitleAndSearh{
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-between;;
}

.GH_I_ShopArea_GameArea_TitleAndSearh p{
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 36px;
    font-weight: bold;
    /* 外觀 */
    color: #fff;
}

.GameFilterStyle{
    /* 尺寸 */
    width: 206px;
    height: 40px;
    /* 文字 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 20px;
    font-weight: bold;
    /* 外觀 */
    border: 1px solid #000;
    border-radius: 4px;
    /* 排版 */
    text-align: center;
    padding-right: 20px;
    /* 移除箭頭 */
    -webkit-appearance: none; /* 移除原生樣式 */
    -moz-appearance: none;
    appearance: none;
    background: url('../img/Down.png') no-repeat, linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-position: right 10px center; /* 設定自定義箭頭的位置 */
    background-size: 20px 20px; /* 設定自定義箭頭的大小 */
    /* 其他樣式... */
}

.GameFilterStyle:optional{
    /* 排版 */
   padding-left: 24px;
}


.GH_I_ShopArea_GameArea_GameCardList{
    /* 尺寸 */
    width: 100%;
    height: 90%;
    background-color:#333333;
    /* 排版 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    /* 滾動條 */
    overflow-y: scroll;
    overflow-wrap: normal;
}

/* ---------------------------------------- */
/* ------------------- 小卡 */

/* ------------------- 小卡  ------------- */

.recomeGame_Card {
    /* 尺寸 */
    /* width: 252px;
    height: 216px; */
    width: 100%;
    height: auto; 

}

.recomeGame_Card:nth-child(4){
    margin-right: 0;
}

.recomeGame_Card:nth-child(8){
    margin-right: 0;
}

.recomeGame_Card:nth-child(12){
    margin-right: 0;
}

.recomeGame_CardFin{
    /* 尺寸 */
    width: 300px;
    height: 300px;
}

.recomeGame_img {
    /* 排版 */
    position: relative;
}

.Card_000{
    width: 100%;
}

.recomeGame_img>img {
    /* 尺寸 */
    /* width: 252px;
    height: 140px; */
    width: 100%;
    height: auto;
    object-fit: cover;
    /* 外觀 */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.Card_BTN01{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Card_Love{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.discountPrice {
    /* 排版 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 12px;
    left: 15px;
    /* 尺寸 */
    /* width: 115px; */
    width: 40%;
    height: 30px;
    /* 外觀 */
    background-color: #292929;
    border-radius: 4px;
    border: 1px solid #fff;
}

.discountPrice span {
    /* 尺寸 */
    font-size: 12px;
    /* 外觀 */
    color: #000;
    border-radius: 16px;
    /* 字體 */
    font-family: "Roboto";
    /* 排版 */
    display: block;
    background-color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.discountPrice p {
    /* 尺寸 */
    font-size: 14px;
    font-weight: 500;
    /* 外觀 */
    color: #fff;
    /* 字體 */
    font-family: "Roboto";
}

.HopeList_BTN img{
    /* 尺寸 */
    width: 28px;
    height: 28px;
}

/* --------------------------------- */
/* 小卡文字資訊區域 */
.recomeGame_info {
    /* 尺寸 */
    /* width: 252px;
    height: 75px; */
    width: 100%;
    height: auto;
    /* 外觀 */
    background-color: #1B2838;
}

.recomeGame_info_title {
    /* 排版 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.recomeGame_info_title p {
    /* 尺寸 */
    font-size: 16px;
    font-weight: 500;
    /* 字體 */
    font-family: "Noto Sans TC, sans-serif,Roboto";
    /* 外觀 */
    color: #fff;
}

.recomeGame_info_title ul {
    /* 排版 */
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.recomeGame_info_title ul li img{
	/* 尺寸 */
	width: 16px;
	height: 16px;
}

/* -----------------------------------  */
/* 遊戲類型tag 以及 加入購物車按鈕 */

.gameTag_Bigbox {
    /* 排版 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    width: 100%;
}

.gameTag_Bigbox ul {
    /* 尺吋 */
    width: 70%;
    height: auto;
    /* 排版 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 8px;
}

.gameTag_Bigbox ul li {
    /* 尺寸 */
    font-size: 12px;
    /* 外觀 */
    color: #fff;
    background-color: #3A5A85;
    border-radius: 8px;
    /* 排版 */
    text-align: center;
}

/* ---------------------- 按鈕專區 ----- */
/* ---------------------- 按鈕專區 ----- */
/* ---------------------- 按鈕專區 ----- */
.BTN_Style_ProductTo_SearchName{
    /* 尺寸 */
    width: 47px;
    height: 44px;
    /* 外觀 */
    background-color: #333333;
    border-radius: 8px;
    box-shadow: none;
    /*外觀圖樣 */
    background-image:url(../img/Vector-Right.png);
    background-repeat: no-repeat;
    background-position: center;
}

.HopeList_BTN {
    /* 排版 */
    position: absolute;
    top: 10px;
    right: 0;
    /* 移除外觀 */
    border: none;
    background-color: transparent;
}

/*  加入購物車 按鈕  小卡上面的 */
.AddToCart_BTN {
    /* 尺寸 */
    width: 30%;
    height: 24px;
    /* 外觀 */
    background-color: #fff;
    border-radius: 8px;
    border: none;
    /* 排版 */
	/* 文字 */
	font-size: 14px;
    font-weight: bold;
}

/* ----------------- RWD - Start -------------------------- */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
/* ----------------- RWD - PC Part ------------------------ */
@media (max-width: 1920px) {}

@media (max-width: 1536px) {
    .GH_I_ShopArea_GameArea{
        height: 90vh;
        padding: 12px;
        justify-content: space-around;
    }

    .gameTag_Bigbox ul{
        gap: 4px;
        width: 65%;
    }

    .gameTag_Bigbox ul li{
        font-size: 10px;
        padding: 4px;
    }

    .GH_MA_HopeList_SearchTool{
        height: 4vh;
    }

    .BTN_Style_ProductTo_SearchName{
        height: 4.3vh;
    }

    .AddToCart_BTN{
        width: 25%;
        height: auto;
    }
    
    .GH_I_ShopArea_GameTag_FromGame p{
        font-size: 14px;
    }

    .GH_I_ShopArea_GameTag_FromYour p{
        font-size: 14px;
    }
    
    .discountPrice{
        width: 50%;
    }

    .recomeGame_info_title ul{
        margin-left: 0;
    }

    .GH_I_ShopArea_SearchBar{
        width: 70%;
    }

    .GH_I_ShopArea_GameTag{
        width: 15%;
    }
}

@media (max-width: 1280px) {

    .GH_I_ShopArea_GameTag{
        width: 15%;
    }

    .gameTag_Bigbox{
        justify-content: space-between;
    }

    .gameTag_Bigbox ul li{
        padding: 2px;
    }

    .gameTag_Bigbox ul{
        width: 70%;
    }

    .AddToCart_BTN{
        width: 25%;
    }

    .AddToCart_BTN{
        font-size: 12px;
    }

    .GH_I_ShopArea_GameTag_FromYour{
        padding: 12px 12px 0 12px;
    }

    .GH_I_ShopArea_GameTag_FromGame{
        padding: 12px 12px 0 12px;
    }
}



/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */
/* ----------------- RWD - Table Part ------------------------ */

/* 實際上應該以768px，但是這邊直接把1100px以下當作平板 */
@media (max-width: 1150px) {

    .GH_I_ShopArea_GameArea_GameCardList{
        grid-template-columns: repeat(2, 1fr);
    }

    .GH_I_ShopArea_GameTag{
        display: none;
    }

    .GH_I_ShopArea_DispalyAndTag{
        width: 100%;
    }

    .GH_I_ShopArea_SearchBar_TagBTN ul a li{
        width: 7vw;
    }

    .GH_MA_HopeList_SearchTool{
        width: 40%;
        height: 3vh;
    }
}




/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */
/* ----------------- RWD - Mobile Part ------------------------ */

@media (max-width: 900px) {

    .GH_I_ShopArea_GameArea_GameCardList{
        grid-template-columns: repeat(1, 1fr);
    }

    .discountPrice{
        width: 50%;
    }

    .recomeGame_info_title p{
        font-size: 20px;
    }

    .gameTag_Bigbox ul li{
        font-size: 16px;
    }

    .AddToCart_BTN{
        font-size: 18px;
    }

    .recomeGame_info_title ul li img{
        width: 32px;
        height: 32px;
    }

    .discountPrice span{
        font-size: 18px;
        font-weight: bold;
    }

    .discountPrice p{
        font-size: 18px;
        font-weight: bold;
    }

    .GH_I_ShopArea_GameArea_TitleAndSearh p{
        font-size: 28px;
    }

    .GH_I_ShopArea_SearchBar_SeeBTN{
        width: 30%;
    }

    .BTN_Style_ProductTo_SearchName{
        height: 4vh;
        width: 5vw;
    }

    .GH_I_ShopArea_SearchBar_TagBTN{
        width: 70%;
    }

    .GH_I_ShopArea_SearchBar{
        display: none;
    }

    .GameFilterStyle{
        width: 35%;
    }

    .GameFilterStyle:optional{
        padding-left: 0;
        padding-right: 0;
    }

    .GH_I_ShopArea_GameArea{
        width: 80%;
    }
}

@media (max-width: 650px) {

    .GH_I_ShopArea_GameArea_TitleAndSearh p{
        font-size: 20px;
    }

    .GameFilterStyle{
        font-size: 16px;
    }

    .GH_I_ShopArea_GameArea{
        width: 100%;
    }
}

@media (max-width: 450px) {

    .GH_I_ShopArea_GameArea_TitleAndSearh{
        flex-direction: column;
        height: 6vh;
    }

    .GameFilterStyle{
        width: 100%;
    }

    
}
