$colors:(
    white:#fff,
    dark:#000,
    black:#292929,
    gray:#6D6D6D,
    grayDeep: #5D5D5D,
    grayLight:#797979,
    grayOther:#ACACAC,
    dodgerBlue:dodgerblue,
    darkBlue: #0C223F,
    blueOther:#3A5A85,
    red01:#E6331C,
    red02:#F8442D,
    coffee:#480E07,
    coffee02:#222222,
    coffee03:#333333,
    coffee04:#151515,




);