$color_1: #fff;
$color_2: #000;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Noto Sans TC, sans-serif,Roboto";
$font-family_3: "Roboto";
$background-color_1: #414141;
$background-color_2: #1B2838;
$background-color_3: #F8442D;
$background-color_4: #D62A14;
$background-color_5: rgba(255, 255, 255, 0.5);
$background-color_6: #FF5252;
$background-color_7: transparent;
$background-color_8: #292929;
$background-color_9: #fff;
$background-color_10: #3A5A85;

.cheakOutMain {
	width: 100%;
	height: 90vh;
	background-image: url(../img/BC_BG_001m.jpg);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
}
.cheakOutMain01_Top {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	left: 0;
	margin-top: 24px;
	>img {
		width: 104px;
		height: 16px;
		margin-left: 40px;
		margin-right: 40px;
	}
}
.cheakOutMain_Top_Box01 {
	text-align: center;
	>p {
		font-size: 28px;
		font-weight: bold;
		color: $color_1;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	>span {
		font-size: 18px;
		font-weight: 500;
		color: $color_1;
		font-family: $font-family_1;
	}
}
.cheakOutMain_Top_Box02 {
	text-align: center;
	>p {
		font-size: 28px;
		font-weight: bold;
		color: $color_1;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	>span {
		font-size: 18px;
		font-weight: 500;
		color: $color_1;
		font-family: $font-family_1;
	}
}
.cheakOutMain_Bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}
.cheakOutMain_Bottom_L {
	width: 60%;
	>h1 {
		font-size: 24px;
		font-weight: bold;
		color: $color_1;
		margin-top: 12px;
		margin-bottom: 8px;
		text-align: center;
	}
}
.cheakOutMain_Bottom_L_BigBox {
	width: 100%;
	background-color: $background-color_1;
	border-radius: 8px;
	display: grid;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: repeat(1,1fr);
	gap: 20px;
	padding: 20px;
}
.cheakOutMain_Bottom_L_Box01 {
	width: 100%;
	background-color: $background-color_2;
	display: grid;
	grid-template-rows: repeat(1,1fr);
	grid-template-columns: repeat(4,1fr);
	gap: 40px;
	align-items: center;
	justify-items: center;
	padding: 20px;
	>img {
		width: auto;
	}
}
.gameInfo {
	text-align: center;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: repeat(1,1fr);
	gap: 20px;
	>p {
		font-size: 28px;
		font-weight: bold;
		color: $color_1;
		font-family: $font-family_2;
	}
	.playform_Icon {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-rows: repeat(1,1fr);
		grid-template-columns: repeat(3,1fr);
		gap: 40px;
	}
}
.discount_Tag {
	width: 100%;
	height: 4vh;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid black;
	background-color: $background-color_3;
	color: $color_1;
	font-family: $font-family_3;
	text-align: center;
	line-height: 4vh;
}
.price_Area {
	text-align: center;
	display: grid;
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: repeat(1,1fr);
	gap: 20px;
	color: $color_1;
	font-family: $font-family_3;
	p {
		font-size: 28px;
		font-weight: 400;
	}
	span {
		font-size: 24px;
		font-weight: 500;
		text-decoration: line-through;
	}
}
.cancelBuy_BTN {
	width: 100%;
	height: 6vh;
	font-size: 20px;
	font-weight: bold;
	background-color: $background-color_3;
	color: $color_1;
	border-radius: 16px;
	border: 0px solid black;
	&:hover {
		background-color: $background-color_4;
		border-radius: 16px;
		border: 0px solid black;
	}
}
.cheakOutMain_Bottom_L_Box02 {
	width: 100%;
	background-color: $background-color_2;
	display: flex;
	>img {
		width: 200px;
		height: 120px;
		margin-left: 30px;
		margin-top: 16px;
	}
}
.cheakOutMain_Bottom_L_Box03 {
	width: 100%;
	background-color: $background-color_2;
	display: flex;
	>img {
		width: 200px;
		height: 120px;
		margin-left: 30px;
		margin-top: 16px;
	}
}
.cheakOutMain_Bottom_L_Box04 {
	width: 800px;
	height: 152px;
	background-color: $background-color_2;
	margin-top: 24px;
	margin-left: 35px;
	display: flex;
	>img {
		width: 200px;
		height: 120px;
		margin-left: 30px;
		margin-top: 16px;
	}
}
.cheakOutMain_Bottom_L_Box05 {
	width: 800px;
	height: 152px;
	background-color: $background-color_2;
	margin-top: 24px;
	margin-left: 35px;
	display: flex;
	>img {
		width: 200px;
		height: 120px;
		margin-left: 30px;
		margin-top: 16px;
	}
}
.cheakOutMain_Bottom_R {
	border: 1px solid ghostwhite;
	width: 30%;
}
.cheakOutMain_Bottom_R_Gauge {
	font-size: 20px;
	font-weight: bold;
	font-family: $font-family_3;
	text-align: center;
	padding: 8px 0;
	background-color: $background-color_5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.cheakOutMain_Bottom_R_Price {
	background-color: $background-color_5;
	border-bottom: 1px solid #fff;
	padding: 20px;
	display: grid;
	grid-template-rows: repeat(4,1fr);
	gap: 40px;
}
.item01 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 16px;
	font-family: $font-family_3;
}
.item02 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 16px;
	font-family: $font-family_3;
}
.item03 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 16px;
	font-family: $font-family_3;
}
.item04 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 16px;
	font-family: $font-family_3;
}
.itemTitle {
	font-size: 22px;
	font-weight: bold;
}
.itemType {
	font-size: 22px;
	font-weight: bold;
}
.itemPrice {
	font-size: 22px;
	font-weight: bold;
}
.cheakOutMain_Bottom_R_Total {
	background-color: $background-color_6;
}
.priceTotla {
	font-size: 28px;
	font-weight: bold;
	font-family: $font-family_3;
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}
.cheakOutMain_Bottom_B {
	width: 60%;
	height: 10vh;
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	grid-template-rows: repeat(1,1fr);
	grid-template-columns: repeat(3,1fr);
	gap: 60px;
}
.clearlBuy_BTN {
	width: 80%;
	height: 80px;
	font-size: 24px;
	font-weight: bold;
	background-image: url(../img/BTN_003.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: $color_1;
	border: none;
	background-color: $background-color_7;
	text-align: center;
}
.cheackHopeList_BTN {
	width: 80%;
	height: 80px;
	font-size: 24px;
	font-weight: bold;
	background-image: url(../img/BTN_004.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: $color_1;
	border: none;
	background-color: $background-color_7;
	text-align: center;
}
.payMoney_BTN {
	width: 80%;
	height: 80px;
	font-size: 24px;
	font-weight: bold;
	background-image: url(../img/BTN_001.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: $color_1;
	border: none;
	background-color: $background-color_7;
	text-align: center;
}
.cheakOutMain_Discount {
	width: 100%;
	height: 100vh;
	background-image: url(../img/BG_For_BC_BIG_001m.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.cheakOutMain_Discount_Top {
	>p {
		color: $color_1;
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 40px;
	}
}
.discountBigBox {
	width: 80%;
	background-color: $background-color_1;
	padding: 20px 26px;
	margin: 0 auto;
}
.discountBox {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-rows: repeat(1,1fr);
	grid-template-columns: repeat(3,1fr);
	gap: 20px;
	ul {
		li {
			>img {
				width: 150px;
				height: 150px;
			}
			display: flex;
			position: relative;
			&:last-child {
				margin-right: 0px;
			}
		}
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-rows: repeat(1,1fr);
		grid-template-columns: repeat(5,1fr);
		gap: 20px;
	}
}
.UseThisCoupon_BTN {
	width: 100px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-weight: 400;
	background-color: $background-color_3;
	border-radius: 8px;
	border: none;
	position: absolute;
	top: 99px;
	left: 25px;
	font-family: $font-family_2;
}
.LeftArrow_BTN {
	border: none;
	background-color: $background-color_7;
	width: 30px;
	height: 30px;
}
.RightArrow_BTN {
	border: none;
	background-color: $background-color_7;
	width: 30px;
	height: 30px;
}
.cheakOutMain_Discount_Bottom {
	margin-top: 40px;
	margin-bottom: 32px;
	p {
		color: $color_1;
		font-size: 36px;
		font-weight: bold;
	}
}
.cheakOutMain_Discount_Bottom_GameList {
	width: 100%;
	height: 30vh;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-rows: repeat(1,1fr);
	grid-template-columns: repeat(3,1fr);
	gap: 40px;
}
.recomeGame_Card {
	width: 80%;
}
.recomeGame_Card03 {
	width: 80%;
}
.recomeGame_CardFin {
	width: 300px;
	height: 300px;
}
.recomeGame_img {
	position: relative;
	>img {
		width: 100%;
		height: 20vh;
		object-fit: cover;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
	}
}
.discountPrice {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 20px;
	left: 40px;
	width: 40%;
	height: 39px;
	background-color: $background-color_8;
	border-radius: 4px;
	border: 1px solid #fff;
	span {
		font-size: 12px;
		color: $color_2;
		border-radius: 16px;
		font-family: $font-family_3;
		display: block;
		background-color: $background-color_9;
		padding: 4px 12px;
	}
	p {
		font-size: 14px;
		font-weight: 500;
		color: $color_1;
		font-family: $font-family_3;
	}
}
.HopeList_BTN {
	position: absolute;
	top: 20px;
	right: 40px;
	border: none;
	background-color: $background-color_7;
}
.recomeGame_info {
	width: 100%;
	height: 12vh;
	background-color: $background-color_2;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
.recomeGame_info_title {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	p {
		font-size: 24px;
		font-weight: bold;
		font-family: $font-family_2;
		color: $color_1;
	}
	ul {
		display: flex;
		align-items: center;
	}
}
.gameTag_Bigbox {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	ul {
		width: 65%;
		display: grid;
		grid-template-rows: repeat(2,1fr);
		grid-template-columns: repeat(3,1fr);
		justify-items: center;
		gap: 8px;
		li {
			font-size: 16px;
			color: $color_1;
			background-color: $background-color_10;
			border-radius: 8px;
			padding: 4px;
		}
	}
}
.AddToCart_BTN {
	width: 30%;
	height: 28px;
	background-color: $background-color_9;
	border-radius: 8px;
	border: none;
}
@media (max-width: 1536px) {
	.cheakOutMain_Bottom_B {
		width: 80%;
	}
	.clearlBuy_BTN {
		width: 65%;
		height: 75px;
		font-size: 24px;
	}
	.cheackHopeList_BTN {
		width: 65%;
		height: 75px;
		font-size: 24px;
	}
	.payMoney_BTN {
		width: 65%;
		height: 75px;
		font-size: 24px;
	}
	.gameTag_Bigbox {
		margin-top: 12px;
	}
	.recomeGame_Card {
		width: 90%;
	}
	.recomeGame_Card03 {
		width: 90%;
	}
}
@media (max-width: 1280px) {
	.cheakOutMain_Bottom_L_BigBox {
		padding: 8px;
	}
	.cheakOutMain_Bottom_L_Box01 {
		padding: 8px;
	}
	.gameInfo {
		>p {
			font-size: 24px;
		}
	}
	.price_Area {
		p {
			font-size: 20px;
		}
		span {
			font-size: 16px;
		}
	}
	.priceTotla {
		font-size: 24px;
		padding: 8px 0;
	}
	.cancelBuy_BTN {
		font-size: 16px;
	}
	.clearlBuy_BTN {
		width: 85%;
	}
	.cheackHopeList_BTN {
		width: 85%;
	}
	.payMoney_BTN {
		width: 85%;
	}
	.recomeGame_Card {
		width: 80%;
	}
	.cheakOutMain_Discount_Bottom_GameList {
		gap: 20px;
		grid-template-columns: repeat(2,1fr);
	}
	.recomeGame_info {
		height: 14vh;
	}
	.recomeGame_Card03 {
		display: none;
	}
	.discountBigBox {
		width: 90%;
	}
}
@media (max-width: 1100px) {
	.cheakOutMain_Bottom_L {
		width: 70%;
	}
	.price_Area {
		p {
			font-size: 16px;
		}
	}
	.cheakOutMain_Bottom_R {
		width: 20%;
	}
	.cheakOutMain_Bottom_R_Price {
		padding: 8px;
	}
	.itemTitle {
		font-size: 14px;
	}
	.itemType {
		font-size: 14px;
	}
	.itemPrice {
		font-size: 14px;
	}
	.priceTotla {
		font-size: 14px;
	}
	.cheakOutMain_Bottom_R_Gauge {
		font-size: 14px;
	}
	.discount_Tag {
		font-size: 16px;
	}
	.clearlBuy_BTN {
		font-size: 20px;
		width: 100%;
	}
	.cheackHopeList_BTN {
		font-size: 20px;
		width: 100%;
	}
	.payMoney_BTN {
		font-size: 20px;
		width: 100%;
	}
	.discountBigBox {
		width: 100%;
	}
	.discountBox {
		width: 100%;
		padding: 4px;
	}
	.LeftArrow_BTN {
		margin-right: 0;
	}
	.RightArrow_BTN {
		margin-left: 0;
	}
}
@media (max-width: 970px) {
	.cheakOutMain_Bottom {
		flex-direction: column;
	}
	.cheakOutMain_Bottom_R_Price {
		gap: 4px;
	}
	.cheakOutMain_Bottom_R {
		width: 100%;
	}
	.cheakOutMain_Bottom_L {
		width: 100%;
	}
	.cheakOutMain_Bottom_L_BigBox {
		gap: 8px;
	}
	.cheakOutMain_Bottom_L_Box01 {
		gap: 4px;
		grid-template-columns: repeat(3,1fr);
	}
	.gameInfo {
		display: none;
	}
	.discountBigBox {
		padding: 4px 4px;
	}
	.discountBox {
		ul {
			grid-template-rows: repeat(2,1fr);
			grid-template-columns: repeat(1,1fr);
			li {
				>img {
					width: 100px;
					height: auto;
				}
			}
		}
		grid-template-columns: repeat(1,1fr);
	}
	.RightArrow_BTN {
		display: none;
	}
	.LeftArrow_BTN {
		display: none;
	}
	.cheakOutMain_Discount_Bottom {
		margin: 0;
		p {
			font-size: 16px;
		}
	}
	.cheakOutMain_Discount_Top {
		>p {
			font-size: 16px;
			margin-bottom: 0;
		}
		display: none;
	}
	.cheakOutMain_Discount_Bottom_GameList {
		grid-template-rows: repeat(2,1fr);
		grid-template-columns: repeat(1,1fr);
		height: 90vh;
	}
	.UseThisCoupon_BTN {
		width: 80px;
		top: 50px;
		left: 10px;
	}
	.recomeGame_Card {
		width: 100%;
	}
	.cheakOutMain_Bottom_B {
		display: none;
	}
	.price_Area {
		span {
			font-size: 14px;
		}
	}
	.cancelBuy_BTN {
		font-size: 14px;
	}
	.discountPrice {
		left: 20px;
	}
}
